body{
    background-color: black;
    font: normal 18pt Arial;
    color: white;
    text-align: center;
    padding-top: 3px;
}

section{
    border-radius: 10px;
    background-color: white;
    width: 500px;
    color: black;
    text-align: left;
    margin: auto;
    padding: 3px;
}
.copy{
    padding-top: 8px;
}
